header .navbar {
    margin: 25px 0px 0px 0px; /*Oben Rechts Unten Links*/
}

header .input-group { /* Breite des Suchfelds */
    width: 30%;
}

header .mb-3, .my-3 { /* margin bottom nur im header !*/
    margin-bottom: 0rem !important; /* höchste Priorität: im Header gibt es keine margin-bottom*/
}

footer p { /* Copyright nach unten verschieben*/
    padding-top: 8px;
}

.btn-outline-success { /* Button "Registrieren" und "Anmelden"*/
    color: #00b5ad;
    background-color: transparent;
    border-color: #00b5ad
}

.btn-outline-success:hover { /* Hover für  Buttons "Registrieren" und "Anmelden"*/
    color: #fff;
    background-color: #00b5ad;
    border-color: #00b5ad
}

.btn-outline-success.focus, /* Schatten wenn Buttons Fokus haben */
.btn-outline-success:focus {
    box-shadow: 0 0 0 .2rem rgba(0, 181, 173,.5)
}

.btn-outline-success:not(:disabled):not(.disabled)
.active,
.btn-outline-success:not(:disabled):not(.disabled):active,
.show > .btn-outline-success
.dropdown-toggle {
    color: #fff;
    background-color: #00b5ad;
    border-color: #00b5ad
}

.mt-5, .my-5 {
    margin-top: 1rem !important
}

/* Paddings als klassen*/
.pdt-0 { padding-top: 0px }
.pdr-0 { padding-right: 0px }
.pdb-0 { padding-bottom: 0px }
.pdl-0 { padding-left: 0px }

hr { border-color: #00b5ad }

.splash img, .square { width: 100% } /*Bilder nehmen 100% ihres Platzes ein*/

.splash { /* Container für Titelbilder */
    height: 200px;
    overflow: hidden;
}

h1 {
    text-align: left;
    display: block;
}

a, h1, h2, h3 {
    color: rgb(0, 177, 172);
}

/*-- Trennlinien für Links (li Aufzählung) --*/
nav li a, footer li a {
    border-right: 1px solid #00b5ad;
}

nav li:last-child a, footer li:last-child a {
    border-right: 0px;
}

/* Links in Navbar */
.navbar-nav .nav-link {
    color: #00b5ad;
}

.navbar-nav:hover .nav-link:hover {
    color: rgba(0, 181, 173,.5); /* fh-farben mit 5% Transparenz*/
}


fieldset {
    display: block;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 0.35em;
    padding-bottom: 0.625em;
    padding-left: 0.75em;
    padding-right: 0.75em;
    border: 1px solid #00b5ad;
}

fieldset legend {
    font-size: 1rem;
    width: 150px; /*ToDo: vernünftig Wert ermitteln lassen!*/
}

fieldset .btn { /* Alle Buttons im Feldset*/
    display: flex;
    margin: auto; /*ToDo: anderen Weg um Button zu zentrieren*/
}

.col-3 a, .col-3 p { /* Alle Anker im Container col-3 (in unserem Fall die Links zu der Detail.html)*/
    text-align: center;
    display: block;
}

.tab-pane { /* Das Panel für die Navigationstab auf der Detail.html Seite*/
    border: 1px solid #00b5ad;
    height: 100px;
    border-radius: 3px;
    padding: 10px;
}


.text-end {
    text-align: end;
}

#preis{
    font-size: 20px;
}


.unavailable {
    filter: grayscale(100%);
}

.isDisabled {
    color: currentColor;
    cursor: not-allowed;
    opacity: 0.5;
    text-decoration: none;
    pointer-events: none;
}

/*.col .nav-item {
    border: 1px solid #00b5ad;
    border-bottom: 0px;
    border-radius: 2px;
}*/
/*---------- Wird derzeit nicht benötigt ----------*/

/*footer .navbar { /* Margin für Navbar im Footer *
    margin: 0px 0px 0px 0px; /*Oben Rechts Unten Links*
}*/

/*footer li { /* li style im footer*
    list-style-type: none;
}*/

/*footer a.last {
    border-right: 0px dotted #00b5ad
}*/

/*.btn-outline-success.disabled,
.btn-outline-success:disabled { /* Design für Buttons die disabled sind*
    color: #00b5ad;
    background-color: transparent
}*/