<footer>
    <div class="row">
        <div class="col-4"><p>&copy; 2018 DBWT</p></div>
        <div class="col-8 pdl-0">
            <nav class="navbar navbar-expand">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Registrieren</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="~/Zutaten.cshtml">Zutatenliste</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="Impressum.cshtml">Impressum</a>
                    </li>
                    <!-- <li class="nav-item">
                        <a class="nav-link disabled" href="#">Disabled</a>
                    </li> -->
                </ul>
                <p>
                    <a href="https://validator.w3.org/check?uri=referer">
                        <img src="http://www.w3.org/Icons/valid-xhtml10"
                             alt="Valid XHTML 1.0!" height="31" width="88" />
                    </a>
                </p>
                <p class="col-md-3">@DateTime.Now</p>
            </nav>
        </div>
    </div>
</footer>