<header>
    <div class="row">
        <div class="col-4 pdr-0">
            <nav class="navbar navbar-expand">
                <a class="navbar-brand" href="Start.cshtml">e-Mensa</a>
            </nav>
        </div>
        <div class="col-8 pdl-0">
            <nav class="navbar navbar-expand">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="Start.cshtml">Start</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="Produkte.cshtml">Mahlzeiten <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Bestellung</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://www.fh-aachen.de/">FH-Aachen</a>
                    </li>
                </ul>
                <form action="http://www.google.de/search" target="_blank" method="get" class="input-group mb-3">
                    <input type="hidden" name="as_sitesearch" value="www.fh-aachen.de">
                    <input type="text" name="q" class="form-control" placeholder="Suchen ..." aria-label="Search">
                    <div class="input-group-append">
                        <button class="btn btn-outline-success" type="submit"><i class="fas fa-search"></i></button>
                    </div>
                </form>
            </nav>
        </div>
    </div>
</header>