@using System.Configuration
@using MySql.Data.MySqlClient;
@using System.Collections.Generic; @*für array*@
@{
    Layout = "~/_Layout.cshtml";
    Page.Title = "Detail";
}
@{
    string conString = ConfigurationManager.ConnectionStrings["dbConStr"].ConnectionString;
    MySqlConnection con = new MySqlConnection(conString);

    List<string> zutatenliste = new List<string>();
}
@functions
{
    class GerichtModel
    {
        public string Name { get; set; }
        public int ID { get; set; }
        public string Beschreibung { get; set; }
        public int Stock { get; set; }
        public bool Verfuegbar { get; set; }
    }
}
@{
    string qstring = Request.QueryString["id"];
    var G = new GerichtModel { };

    try
    {
        G.ID = Convert.ToInt32(qstring);
    }
    catch
    {
        G.ID = 0;
    }
    Boolean GotException = false;
    try
    {
        con.Open();
        MySqlCommand cmd;
        cmd = con.CreateCommand();
        cmd.CommandText = "SELECT * FROM products Where id like " + G.ID + ";";
        MySqlDataReader r = cmd.ExecuteReader();

        while (r.Read())
        {
            G.Name = r["name"].ToString();
            G.Beschreibung = r["description"].ToString();
            G.Stock = Convert.ToInt32(r["stock"]);
            //G.Verfuegbar = Convert.ToBoolean(r["Verfügbar"]);
        }
        r.Close();

        //Speichere Zutaten zum Gericht in einer Liste
        cmd.CommandText = "Select ingredients.id, ingredients.name, `products_ingredients`.`product_id` FROM ingredients, `products_ingredients` WHERE ingredients.id = `products_ingredients`.`ingredient_id` and `products_ingredients`.`product_id` = " + G.ID + ";";
        r = cmd.ExecuteReader();
        while (r.Read())
        {
            zutatenliste.Add(r["name"].ToString() + " ".ToString());
        }
        r.Close();
    }
    catch (Exception e)
    {
    <p> @e.Message</p>
        GotException = true;
    }

    if (G.ID == 0 || qstring == "" || @GotException || @G.Beschreibung == null)
    {
    @section head{
        <meta http-equiv="refresh" content="3; url=Start.cshtml">
    }
    }
}
<div class="row">
    <div class="col-3"></div>
    <div class="col-6">
        <h1>Details für "@G.Name"</h1>
    </div>
    <div class="col-3"></div>
</div>
<div class="row">
    <div class="col-3">
        <form>
            <fieldset>
                <legend>Login</legend>
                <div class="form-group">
                    <label for="username" class="text-black">Benutzer:</label><br>
                    <input type="text" name="username" id="username" class="form-control" placeholder="Benutzer">
                </div>
                <div class="form-group">
                    <label for="password">Passwort</label>
                    <input type="password" class="form-control" name="password" id="password" placeholder="*******">
                </div>
                <input class="btn btn-outline-success btn-center" type="submit" value="Anmelden"><br />
            </fieldset>
        </form>
        <p>Melden Sie sich jetzt an, um die wirklich viel günstigeren Preise für Mitarbeiter oder Studenten zu sehen.</p>
    </div>
    <div class="col-7">
        <div class="row">
            <div class="col splash">
                <img src="img/Foodbanner.png" alt="Titelfoto Unten">
            </div>
        </div>
        <div class="row">
            <div class="col tab">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="descriptions-tab" data-toggle="tab" href="#descriptions" role="tab" aria-controls="descriptions" aria-selected="true">Beschreibung</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="incredients-tab" data-toggle="tab" href="#incredients" role="tab" aria-controls="incredients" aria-selected="false">Zutaten</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="reviews-tab" data-toggle="tab" href="#reviews" role="tab" aria-controls="reviews" aria-selected="false">Bewertungen</a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="descriptions" role="tabpanel" aria-labelledby="descriptions-tab">
                        @G.Beschreibung
                    </div>
                    <div class="tab-pane fade" id="incredients" role="tabpanel" aria-labelledby="incredients-tab">
                        <p>
                            @foreach (var item in zutatenliste)
                            {
                            @item
                            }
                        </p>
                    </div>
                    <div class="tab-pane fade" id="reviews" role="tabpanel" aria-labelledby="reviews-tab" style="height: 150%">
                        <!--ToDo: Schöne Lösung-->
                        <form action="http://bc5.m2c-lab.fh-aachen.de/form.php" method="POST">
                            <div class="form-group">
                                <label for="benutzer">Benutzer</label>
                                <input type="text" name="benutzer" class="form-control" id="benutzer" placeholder="Max Mustermann">
                            </div>
                            <div class="form-group">
                                <label for="bewertung">Bewertung</label>
                                <select class="form-control" name="bewertung" id="bewertung">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="bemerkung">Bemerkung</label>
                                <textarea class="form-control" id="bemerkung" rows="3"></textarea>
                            </div>
                            <input type="hidden" name="matrikelnummer" value="3116496">
                            <input type="hidden" name="kontrolle" value="Sch">
                            <div class="input-group">
                                <button class="btn btn-outline-success" type="submit"><i class="fas fa-search"></i></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-2">
        <p class="text-end">
            <b>Gast-Preis</b><br />
            <b id="preis">5,95 &euro;</b>
        </p>
        <div class="input-group-append">
            <button class="btn btn-block btn-outline-success" type="submit"><i class="fas fa-utensils"> Vorbestellen</i></button>
        </div>
    </div>
</div>