@{
    Layout = "~/_Layout.cshtml";
    Page.Title = "Impressum";
}
@section head{
    <meta http-equiv="refresh" content="3; url=Start.cshtml">
}
<div class="row"><div class="col-12"><h1>Impressum</h1></div></div>