@using System.Configuration
@using MySql.Data.MySqlClient;
@{
    Layout = "~/_Layout.cshtml";
    Page.Title = "Produkte";
}
@{
    string conString = ConfigurationManager.ConnectionStrings["dbConStr"].ConnectionString;
    MySqlConnection con = new MySqlConnection(conString);

    int MaxMeals = 0;
    Boolean NoQueryString = false;
    String qstring = Request.QueryString["meals"];

    if (qstring != null)
    {
        try
        {
            MaxMeals = Convert.ToInt32(qstring);
            if (MaxMeals > 8)
            {
                MaxMeals = 8;
            }
        }
        catch
        {
            MaxMeals = 8;
        }
    }
    else
    {
        MaxMeals = 8;

    }
}

@functions
{
    class GerichtModel
    {
        public int ID { get; set; }
        public string Name { get; set; }
        //public string Beschreibung { get; set; }
        public int Stock { get; set; }
        public bool Verfügbar { get; set; }
        public Object Bilddaten { get; set; }
        public string Bildtitel { get; set; }
    }
}
<div class="row">
    <div class="col-3"></div>
    <div class="col-9">
        <h1>Verfügbare Speisen (Bestseller)</h1>
    </div>
</div>
<div class="row mt-5">
    <div class="col-3">
        <form>
            <fieldset>
                <legend>Speiseliste filtern</legend>
                <select class="form-control btn-outline-success">
                    <option selected> Kategorien</option>
                    <option> Option 1 </option>
                    <option> Option 2 </option>
                </select>
                <br />
                <input type="checkbox" name="name1" value="Verfügbar"><label class="choice ml-1">nur verfügbare</label><br />
                <input type="checkbox" name="name2" value="Vegetarisch"><label class="choice ml-1">nur vegetarische</label><br />
                <input type="checkbox" name="name3" value="Vegan"><label class="choice ml-1">nur vegane</label><br /><br />
                <input class="btn btn-outline-success btn-center" type="submit" value="Speisen filtern"><br />
            </fieldset>
        </form>
    </div>
    <div class="col-7">
        <div class="row">
            <!-- Obere Reihe der Speisen-->
            @{
                try
                {
                    con.Open();
                    MySqlCommand cmd;
                    cmd = con.CreateCommand();
                    cmd.CommandText = "SELECT products.* , images.`blob_data`, images.`title` FROM products, images WHERE products.`image_id` like images.`id` ORDER BY `id`;";
                    MySqlDataReader r = cmd.ExecuteReader();

                    int count = 0;
                    while (r.Read() && count < MaxMeals)
                    {
                        var G = new GerichtModel
                        {
                            ID = Convert.ToInt32(r["id"]),
                            Name = r["name"].ToString(),
                            //Beschreibung = r["description"].ToString(),
                            Stock = Convert.ToInt32(r["stock"]),
                            Verfügbar = Convert.ToBoolean(r["available"]),
                            Bilddaten = r["blob_data"],
                            Bildtitel = r["title"].ToString()
                        };

                <div class="col-3">
                    @{
                        @Helper.Base64Image((byte[])r["blob_data"], r["title"].ToString(), G.Verfügbar)
                        <p class="mb-0">@G.Name</p>

                                if (G.Verfügbar)
                                {
                        <a href="Detail.cshtml?id=@G.ID" class="mb-1">Details</a>
                                }
                                else
                                {
                        <p>Vergriffen</p>
                                }
                    }
                </div>
                        count++;
                    }
                    r.Close();
                }
                catch (Exception e)
                {
                <div class="col-12">
                    @*<img title="Wok-Bild" class="square unavailable" alt="gericht" src="" />*@
                    <p class="mb-0">@e.Message</p>
                </div>
                }
            }
        </div>
    </div>
    <div class="col-2">
    </div>
</div>