@{
    Layout = "~/_Layout.cshtml";
    Page.Title = "Start";
}
<div class="row">
    <div class="col splash" style="background-position: right 0px bottom 1000px">
        <!-- nutzen Sie ein eigenes Bild und schauen Sie, dass Ihre Dokumente validieren -->
        <img src="img/Campus.jpg" alt="Titelfoto Oben">
    </div>
</div>
<div class="row mt-5">
    <!-- Margin Top von 5-->
    <div class="col-4">
        <p>Der Dienst der <b>e-Mensa</b> ist noch beta. Sie können bereits <a class="link" href="Produkte.cshtml">Mahlzeiten</a> durchstöbern, aber noch nicht bestellen.</p>
        <p>Registrieren Sie sich <a href="#">hier</a>, um über die Veröffentlichung des Dienstes per E-Mail informiert zu werden.</p>
    </div>
    <div class="col-8">
        <div class="row">
            <div class="col-8"><h2>Leckere Gerichte vorbestellen</h2><p>... und gemeinsam mit Kommilitonen und Freunden essen</p></div>
            <div class="col-4">
                <button type="button" class="btn btn-outline-success btn-primary btn-block mr-5">
                    <i class="fas fa-angle-double-right"></i> Registrieren
                </button>
                <button type="button" class="btn btn-outline-success btn-secondary btn-block mr-5">
                    <i class="fas fa-check"></i> Anmelden
                </button>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col splash">
                <!-- nutzen Sie ein eigenes Bild und schauen Sie, dass Ihre Dokumente validieren -->
                <img src="img/Foodbanner.png" alt="Titelfoto Unten">
            </div>
        </div>
    </div>
</div>